    <h1>Form Field Demo</h1>
    
    <p>form-field is a component that contains a label and an input element. In general, this is a problem in combination with reactive
      forms. Angular requires formControlName to be a child element of a formGroup inside the same (!) component. Attaching formControlName
      to our form-field element won't work, because angular doesn't respect it as a form element (like input, textarea). Angular
      provides the ControlValueAccessor interface for such custom form-element directives (i.e. that are not input, textarea etc.).
      So we let our FormFieldComponent implement ControlValueAccessor and delegate all functionality to the containing &lt;input&gt;.
    </p>

    <form [formGroup]="form">
      <form-field formControlName="firstName" label="First Name"></form-field>
      <br>
      <form-field formControlName="lastName" label="Last Name"></form-field>
      
      <p>Hello "{{form.get('firstName').value}} {{form.get('lastName').value}}"</p>
    </form>